@{
    ViewData["Title"] = "Home Page";
}

@using PierresTreatsAndFlavors.Models;

<div class="text-center">
    <h1 class="display-4">Welcome to Pierre's Treats And Flavors</h1>
</div>

<hr>
@* All Treats  *@
<h2>@Html.ActionLink("All Treats", "Index", "Treats")</h2>
<ul>
@foreach(Treat treat in @ViewBag.allTreats)
{
    <li>@Html.ActionLink(@treat.Name, "Details", "Treats", new { id = @treat.TreatId})</li>
}
</ul>

@* <h4>All Flavors</h4> *@
<h2>@Html.ActionLink("All Flavors", "Index", "Flavors")</h2>
<ul>
@foreach(Flavor flavor in @ViewBag.allFlavors)
{
     <li>@Html.ActionLink(@flavor.Taste, "Create", "Flavors")</li>
}
</ul>

@Html.ActionLink("Create or manage account", "Index", "AccountUser")
<br />
@Html.ActionLink("See treats", "Index", "Treats")
<br />
@Html.ActionLink("See flavors", "Index", "Flavors")


